%% -*- mode: erlang; -*-
%% vim: syntax=erlang

{deps, [
    {proper, "^1\.1$", {git, "git@github.com:manopapad/proper.git", {branch, "master"}}}
]}.

{deps_dir, ["deps"]}.

{require_otp_vsn, "R16"}.

{erl_opts, [
    warnings_as_errors
]}.

{clean_files, ["*.eunit", "ebin/*.beam", "rel/mira_mtmb"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.


